{% extends "base.html" %}

{% block extra_js %}
	<script src="/static/js/libs/lodash.js"></script>
	<script src="/static/js/views/ProfileView.js"></script>

	<script>
		window.__CARDS_ME__ = '/cards/me/';
	</script>

	<script type="text/template" id="template-boards-all">
	<% if (objects) { %>
		<p class="title">Meus boards</p>

		<ul>
			<% _(objects).each(function(board) { %>
			<li class="board" data-board="<%= board.id %>">
				<span class="label" style="background-color: <%= board.bg %>"></span>
				<p class="name"><%= board.name %></p>
			</li>
	 		<% }); %>
		</ul>
	<% } %>
	</script>

	<script type="text/template" id="template-cards-all">
	<% if (objects) { %>
		<% _(objects).each(function(board) { %>
			<% if (board.cards.length) { %>
				<ul class="clearfix" data-card="<%= board.id %>">
					<% _(board.cards).each(function(card) { %>
						<li class="cards">
							<a href=""><%= card.name %></a>

							<span><%= card.dateCurrent %></span>
						</li>
		 			<% }); %>
				</ul>
	 		<% } %>
	 	<% }); %>
	<% } %>
	</script>
{% endblock %}

{% block content %}
<header class="site-header">
	<a href="/profile/me/" class="logo"></a>
	<span class="line"></span>
	<div class="ib customer">
		<p class="name">{{ customer.fullName }}</p>
		
		<div class="account">
			<a href="{{ customer.url }}" title="{{ customer.url }}">Profile</a>
			<a href="/logout/" class="btn-logout">Sair</a>
		</div>
	</div>
</header> <!-- /.site-header -->

<section class="wrapper-boards clearfix">
	<div class="list-boards show-boards">
		
	</div>

	<div class="list-cards show-cards">
		
	</div>
</section> <!-- /.list-tickets -->
{% endblock %}

{% block loading %}
	<div class="loading-page">
		<div class="throbber-loader"></div>
	</div>	
{% endblock %}